/10_mini.html
/10_task2.html
/4_task1.html
/4_task2.html
/5_mini.html
/8_task1.html
/8_task2.html
/9_mini challenge.html
/9_task1.html
/9_task2.html
/final_project.html
/index.html
/mini.html
/mini2.html
/mini4.html